{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}">
    <title>Document</title>
</head>
<body>
<h1>Main page</h1>
<div class="wrapper">
    {% for trend_112 in trends_112 %}
    <div class="card">
        <div class="title">{{ trend_112.title }}</div>
        <div class="published">{{ trend_112.published }}</div>
        <a href="{{ trend_112.link }}" class="link">Link to the source</a>
        <div class="g-trend title">Google trends</div>
        <ul>
        {% for trend in trend_112.google_trends %}
        <li class="g-trend">{{ trend }}</li>
        {% endfor%}
        </ul>
    </div>
    {% endfor%}
</div>


</body>
</html>